body {
    display: flex;
    flex-direction: row;
}

.image {
    display: flex;
}

#snowy-image {
    height: 100vh;
    width: auto;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    flex: 1;
}

.intro-text {
    flex: 1;
}

.sign-up {
    background-color: white;
    border: 2px black solid;
    flex: 1;
}

.submit {
    flex: 1;
}