body {
    display: flex;
    flex-direction: row;
}

.image {
    display: flex;
}

#snowy-image {
    height: 100vh;
    width: auto;
}

.logo {
    display: flex;
    flex: 1;
    height: 20vh;
    width: 100%;
    background-color: black;
    opacity: .5;

}

.form {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    flex: 1;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.intro-container {
    display: flex;
    flex: 1;
    padding-left: 100px;
    padding-right: 100px;
}

.intro-text {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    background-color: white;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.submit {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}